<br><br><br><br>
<% provide(:title, "About") %>
<div>
    <div id="img2"></id><%= link_to image_tag("Hockey.jpg") %></div>
    <h2 id="pageTitle"><u>About</u></h2>
    <br>
</div>
<div>
    <div id="icingimg"></id><%= link_to image_tag("icing.jpg") %></div><br><br>
    <div id="box"><b>Icing</b> occurs when a player shoots the puck across both the centre red line
    and the opposing team's goal line, and the puck remains untouched.<br><br><br><br><br><br></div>
</div>
<div>
    <br>
    <div id="offsidesimg"></id><%= link_to image_tag("offsides.jpg") %></div>
    <br><br>
    <div id="box">A play is <b>offside</b> if a player on the attacking team enters the offensive zone before
    the puck, unless the puck is sent or carried there by a defending player. When an offside violation occurs,
    a linesman will stop play.<br><br><br><br><br></div>
</div>
<div>
    <br>
    <div id="faceoffimg"></id><%= link_to image_tag("faceoff.jpg") %></div>
    <br><br>
    <div id="box">A <b>face-off</b> is the method used to begin and restart play after goals or halts in play. The two
    teams line up in opposition to each other, and the opposing players attempt to gain control of the puck
    after it is dropped between their sticks by a referee.<br><br><br><br><br></div>
</div>