<br><br><br><br>
<% provide(:title, "bootstrap") %>
<div>
    <div id="img2"></id><%= link_to image_tag("Hockey.jpg") %></div>
    <h2 id="pageTitle"><u>Help</u></h2>
    
    <div id="contact1">
        <h3>Follow Me</h3>
        <br>
        <div id="img5"></id><%= link_to image_tag("facebook-icon.png")%></div><br>
        <div id="img6"></id><%= link_to image_tag("instagram-icon.png") %></div><br>
        <div id="img7"></id><%= link_to image_tag("twitter-icon.png") %></div>
    </div>
</div>