<br><br><br><br>
<% provide(:title, "Home") %>
<div>
    <div id="img2"></id><%= link_to image_tag("Hockey.jpg") %></div>
    <h2 id="pageTitle"><u>Home</u></h2>
</div>

<div id="homecontent">
    <div id="mainimg"></id><%= link_to image_tag("hockeyhome.jpg") %></div>
    <p id="homeP2">
        Ice hockey is a contact team sport played on ice, usually in a rink, in
        which two teams of skaters use their sticks to shoot a puck into their opponent's
        net to score points. The sport is known to be fast-paced and physical, with teams
        usually consisting of six players each: one goaltender, and five players who skate
        up and down the ice trying to take the puck and score a goal against the opposing team.
    </p>
</div>

<div id="homeboxes">
	<div id="homebox1">
		<h3>Upcoming Game</h3>
		<br>
		<p><i>Florida Panthers<br>vs.<br>Detroit Red Wings<br><br>
			Monday, December 11, 7:30PM<br></i></p>
		<br>
	</div>
	<div id="homebox2">
		<h3>Upcoming Game</h3>
		<br>
		<p><i>Vancouver Canucks<br>vs.<br>Winnipeg Jets<br><br>
			Monday, December 11, 8:00PM<br></i></p>
		<br>
	</div>
</div>